/* 
.about {
    background-color: #F5F5F5;
    padding: 60px 100px;
    color: #333;
    height: auto;
    
}

.about .container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
}

.about h1{
    font-size: 44px;
    margin-bottom: 30px;
    color: #333;
}
.about h2{
    font-size: 44px;
    margin-bottom: 30px;
    color: #333;
    text-align: justify;
}

.about p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
} */
